.apply {
  /* coach naam verplaatsen */
  position: absolute;
  bottom: 15;
  right: 0;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {   /* scrollbar onzichtbaar maken */
    width: 0;  
    background: transparent;  
}