.indexPage {
  /* plaatsing van de terug knop in de header */
  text-align: start;
  margin-left: 5px;
  position: absolute;
  left: 15;
  top: 39px;
}

.url {
  /* kleur van de terug knop aanpassen */
  color: #000000;
  text-decoration: none;
}

a:hover {
  /* hover kleur van de terug knop aanpassen  */
  color: #000000;
  text-decoration: none;
}

.center {
  /* bedrijfsnaam in het midden van de header zdetten */
  align-content: center;
  justify-content: center;
}
body {
  /* achtergrond van de pagina */
  background-color: #efefef;
}
.header {
  /* achtergrond van de header */
  background: #fff;
}

.buttonsize {
  /* knop breedte en hoogte */
  width: 90%;
  padding: 50px 0;
}

.buttontekst {
  /* knop tekst in het midden van de knop zetten */
  text-align: center;
}
