.center {
  /* text in het midden van de header zetten */
  align-content: center;
  justify-content: center;
}
body {
  /* achtergrond van de pagina */
  background-color: #efefef;
}
.header {
  /* achtergrond van de header */
  background: #fff;
}

.buttonsize {
  /* knop breedte en hoogte */
  width: 90%;
  padding: 50px 0;
}

.buttontekst {
  /* knop tekst in het midden zetten van de knop */
  text-align: center;
}
